<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd"
         backupGlobals="false"
         beStrictAboutTestsThatDoNotTestAnything="false"
         colors="true"
         bootstrap="tests/bootstrap.php"
         processIsolation="false"
         stopOnError="true"
         stopOnFailure="false"
         backupStaticProperties="false">

  <testsuites>
    <testsuite name="Feature">
      <directory suffix="Test.php">./tests/Feature</directory>
    </testsuite>
  </testsuites>

  <php>
    <server name="APP_ENV" value="testing"/>
    <server name="APP_KEY" value="AckfSECXIvnK5r28GVIWUAxmbBSjTsmF"/>
    <server name="APP_URL" value="http://lvh.me"/>
  </php>

  <source>
    <include>
      <directory suffix=".php">./app</directory>
    </include>
  </source>
</phpunit>
